.homepage-hero {
  padding: 0 percentage(1/18);
  &__headings {
    position: relative;
    z-index: 1;
  }

  &__poster-image-wrapper {
    width: percentage(12/16);
    max-width: 1300px;
    position: relative;
    margin-top: -84px;

    &:before {
      content: "";
      display: block;
      height: 0;
      padding-bottom: percentage(567/960);
    }
  }

  &__floating-icons {
    .floating-icon {
      position: absolute;

      &:nth-child(1) {
        top: 0;
        right: 0;
      }
    }
  }

  &__poster-image {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__bottom-content {
    display: flex;
    margin-top: 60px;
  }

  &__bio {
    width: percentage(10/16);
    font-size: 1.2rem;
  }

  &__links {
    width: percentage(4/16);
    display: flex;
    flex-direction: column;
    padding-left: percentage(2/16);
    margin-top: 18px;
  }
}
