.homepage-hero {
  padding: 0 percentage(1/18);
  &__headings {
    position: relative;
    z-index: 1;
    h1 {
    }
  }

  &__poster-image-wrapper {
    width: percentage(12/16);
    max-width: 1300px;
    position: relative;
    margin-top: -84px;

    &:before {
      content: "";
      display: block;
      height: 0;
      padding-bottom: percentage(567/960);
    }
  }

  &__poster-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// <section className="homepage-hero">
// <div className="homepage-hero__headings">
//   <h1>Web Dev</h1>
//   <h1>Multimedia Artist</h1>
//   <h1>Marketing Ninja</h1>
// </div>
// <StaticImage
//   src="../../images/jc-folio-pic.png"
//   quality={95}
//   placeholder="traced SVG"
//   formats={["AUTO", "WEBP", "AVIF"]}
//   alt="Joshua Chakra"
//   className="homepage-hero__poster-image"
// />
// <div className="homepage-hero__bottom-content">
//   <p className="homepage-hero__bio">
//     Wassup ~ some say this is the unicorn path 🦄 Over a decade in the
//     game as content producer, designer, entrepreneur, marketer and above
//     all, developer. Loving every new challenge. Blessed with two
//     princesses and a loving Mrs 👑 Passionate about the future of tech!
//   </p>
//   <div className="homepage-hero__links">
//     <Link to="" className="link">
//       <FileDownloadSvg />
//       Download my Resume →
//     </Link>
//     <Link to="" className="link">
//       <LinkedInSvg />
//       Follow on Instagram →
//     </Link>
//     <Link to="" className="link">
//       <YoutubeSvg />
//       YouTube Channel →
//     </Link>
//   </div>
// </div>

// <h3 className="homepage-hero__see-work">Check out some of my work 👇</h3>
// </section>
