@import 'core';

// Partials
@import './partials/grid';
@import './partials/typography';

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: 'Manrope', sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  background-color: #1b1823;
  color: white;
  position: relative;
}
